.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
body{
    background-color: #edfcf4;
    font-family: Arial;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.outer{
    width: 100%;
}
.app{
   padding-top: 50px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.app .newTask,
.app .operating,
.todos{
    width: 40%;
}
.app .newTask .input{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    padding-left: 5px;
    white-space: pre-line;
    box-shadow: 2px 0px 5px -2px black,
               -2px 0px 5px -2px black;
}
.todos{
    padding: 20px 0px 20px 20px;
}
.todos .todoOuter{
    margin-bottom: 10px;
}
.todos li{
    text-align: justify;
    white-space: pre-line;
    width: auto;
}
.todos p{
    text-align: right;
}
.todos p.true span{
    color: #6bc99f;
}
.todos .todoOuter p span{
    display: inline-block;
    margin: 0px 20px;
}
.todos .todoOuter li input[type="checkbox"]{
    position: absolute;
    clip: rect(0,0,0,0);
}
.todos .todoOuter li input[type="checkbox"] + label::before{
    content: "\a0";
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 3px;
    border-radius: 3px;
    background: #cae7da;
    text-align: center;
}
.todos .todoOuter li input[type="checkbox"]:checked + label::before{
    content: "\2713";
    background: #6bc99f;
}
.todos .todoOuter li input[type="checkbox"]:checked + span{
    color: #05bd6a;
}
.todos .todoOuter p .icon{
    cursor: pointer;
}
.app .topic{
    width: 100%;
    font-size: 35px;
    text-align: center;
    padding-bottom: 10px;
    color: #35495e;
}
.app .topic span{
    font-size: 40px;
    color: #6bc99f;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.app .operating{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background: radial-gradient(circle at center,#7fcaa8 0,#b4e4ce 100%);
    box-shadow: 0px 3px 6px -2px rgb(90, 90, 90);
}
.app .operating div.selected{
    background-color: #35495e;
}
.app .operating div{
    width:33.3333333%;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
    color: white;
}
.app .operating div:nth-child(2){
    border-left: 1px solid white;
    border-right: 1px solid white;
}
/*180123 signInAndSignUp*/
.outer .signInAndSignUp{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,#6bc99f,#6bc99f 20%,#35495e 20%,#35495e 80%,#6bc99f 80%,#6bc99f);
    font-size: 20px;
}
.outer .signInAndSignUp div input[type="radio"]{
    position: absolute;
    clip: rect(0,0,0,0);
}
.outer .signInAndSignUp div input[type="radio"] + label::before{
    content: "\a0";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #cae7da;
    text-align: center;
    margin-right: 5px;
    font-size: 20px;
}
.outer .signInAndSignUp div input[type="radio"]:checked + label::before{
    content: "\2022";
    background: #6bc99f;
}
.outer .signInAndSignUp div input[type="radio"] + label{
    margin-right: 20px;
    cursor: pointer;
}
.outer .signInAndSignUp .signUp div,
.outer .signInAndSignUp .login div{
    margin: 10px 0px;
}
.outer .signInAndSignUp .signUp .formRow input,
.outer .signInAndSignUp .login .formRow input{
    margin-left: 5px;
    padding: 0px 5px;
    height: 25px;
    border: none;
    border-radius: 5px;
}
.outer .signInAndSignUp .signUp .formActions input,
.outer .signInAndSignUp .login .formActions input{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #cae7da;
    font-size: 20px;
    cursor: pointer;
    color: #35495e;

}
.app .out{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #6bcaa0;
}
@media screen and (max-width: 768px){
    .app .newTask,
    .app .operating,
    .todos{
        width: 80%;
    }
}