<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <script src='//at.alicdn.com/t/font_541478_lzgibec33ksp2e29.js'></script>
    <title>Todo</title>
</head>
<body>
    <div id="app" class="outer" v-cloak>
        <section id="signInAndSignUp" class="signInAndSignUp" v-if="!currentUser">
            <div>
                <input type="radio" name="type" value="signUp" v-model="actionType" id="signup"><label for="signup">注册</label>
                <input type="radio" name="type" value="login" v-model="actionType" id="login"><label for="login">登入</label>
            </div>
            <div class="signUp" v-if="actionType==='signUp'">
                <form v-on:submit.prevent="signUp">
                    <div class="formRow">用户<input type="text" v-model="formData.username"></div>
                    <div class="formRow">密码<input type="password" v-model="formData.password"></div>
                    <div class="formActions"><input type="submit" value="注册"></div>
                </form>
            </div>
            <div class="login" v-if="actionType==='login'">
                <form @submit.prevent="login">
                    <div class="formRow">用户<input type="text" v-model="formData.username"></div>
                    <div class="formRow">密码<input type="password" v-model="formData.password"></div>
                    <div class="formActions"><input type="submit" value="登录"></div>
                </form>
            </div>
        </section>
        <section class="app" v-if="currentUser">
            <div class='topic'>to<span>Do</span>s</div>
            <p><button @click="logout" class="out">退出{{currentUser.attributes.username}}</button></p>
            <div class="newTask">
              <input type="text" class="input" v-model="newTodo" @keypress.enter="addTodo"> 
            </div>
            <div class="operating clearfix">
                <div class="all checked" @click="allListChecked"  v-bind:class="{selected: optionAll}">全选</div>
                <div class='active' @click="activeListChecked" v-bind:class="{selected: optionActive}">待完成</div>
                <div class="completed" @click="completedListChecked"   v-bind:class="{selected: optionCompleted}">已完成</div>
            </div>
            <ol class="todos">
                <div v-for="item in todoList" class='todoOuter'>
                    <li>
                        <input type="checkbox"  v-bind:id="'_'+ item.index" v-model="item.done" @click="didYouFinishIt(item)"><label v-bind:for="'_'+ item.index">{{ item.title }}</label>
                    </li>
                    <p v-bind:class="item.done ? 'true' : ''">
                        <svg class="icon" aria-hidden="true" @click="removeTodo(item)">
                            <use xlink:href="#icon-shanchu"></use>
                        </svg><span v-if="item.done" >已完成</span><span v-else>未完成</span>{{ item.createdAt }}
                    </p>
                </div>
            </ol>
        </section>
    </div>
    <script src="bundle.js"></script>
</body>
</html>
